<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ quiz['name'] }}</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .container {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
    </style>
</head>
<body>
    <div class="container">
        <h1>{{ quiz['name'] }}</h1>
        <form action="/submit_quiz" method="POST">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required><br><br>

            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required><br><br>

            {% for question in quiz['questions'] %}
            <div>
                <p><strong>{{ loop.index }}. {{ question['question'] }}</strong></p>
                <ul style="list-style-type:none;">
                {% for choice in question['choices'] %}
                    <li>
                        <input type="radio" id="q{{ loop.index }}_{{ loop.index0 }}" name="{{ question['id'] }}" value="{{ choice }}">
                        <label for="q{{ loop.index }}_{{ loop.index0 }}">{{ choice }}</label>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
            <button type="submit">Submit Quiz</button>
        </form>
    </div>
</body>
</html>
